{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": false,
  "arrowParens": "always",
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/assets",
    "^@/assets/(.*)$",
    "^[./]",
    "^~/icons/(.*)$",
    "",
    "^types$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/lib",
    "^@/lib/(.*)$",
    "^@/utils",
    "^@/utils/(.*)$",
    "^@/store/(.*)$",
    "",
    "^@/theme/(.*)$",
    "^@/hooks",
    "^@/hooks/(.*)$",
    "^@/context",
    "^@/context/(.*)$",
    "",
    "^@/services",
    "^@/services/(.*)$",
    "",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "",
    "^@/styles/(.*)$",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "tailwindAttributes": ["className"],
  "tailwindFunctions": ["clsx", "cn", "tv"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
